<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <% for(let i=0; i<users.length; i++){ %>
        <p>Id: <%= users[i].id %> , name: <%= users[i].name %></p> 
    <% } %>
    <form action="/api/users" method="post">
        <input type="text" placeholder="új user neve" name="username"></input>
        <button type="submit">Felvétel</button>
    </form>
    
</body>
</html>